<div class="container my-5">
    <section class="mb-5 py-3">
        <div class="row justify-content-between">
            <div class="col">
                <h1>{{author.displayName}}'s Stories</h1>
            </div>
            <div class="col text-right align-self-center">
                <a href="/authors" class="btn btn-outline-success">Return to All Authors</a>
            </div>
        </div>
    </section>
    <div class="list-group">
        {{#each stories}}
            {{> subcontent/tags/tagStory}}
        {{/each}}
    </div>
</div>