<!-- Recently Edited Section -->
    <div class="container my-5 mx-auto">
        <!-- Section Header -->
        <nav class="navbar border-bottom border-success pt-4 mb-2">
            <h3>{{user.displayName}}'s Recently Edited Stories</h3>
            <a href="/story/create/" class="btn btn-danger">Create New Story</a>
        </nav>
        <!-- Recently Edited Stories -->
        <div class="list-group">
            {{#each stories}}
                {{> content/dashboard/dashboard-story}}
            {{/each}}
        </div>
    </div>
    <div class="container mb-5 mx-auto">
        <nav class="navbar mb-5 border-bottom border-success pt-4">
            <span class="navbar-brand"><h3>Popular Tags</h3></span>
            <a class="btn btn-danger" href="/tags">See All Tags</a>
        </nav>
        <div class="row m-3">
            {{#each tags}}
                {{> content/dashboard/dashboard-tags}}
            {{/each}}
        </div>
    </div>