<div class="container-fluid my-5">
    <div class="jumbotron jumbotron-fluid text-center bg-transparent">
        <h1 class="display-4">All Authors</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-around">
                {{#each authors}}
                    <div class="col text-center m-3">
                        <a href="/authors/{{id}}" class="btn btn-success"><i class="fas fa-user"></i> &nbsp; {{displayName}}</a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>