<div class="container">
  <div class="jumbotron mt-4 text-center">
    <h1 class="display-4 text-center">{{errorMessage}}</h1>
    <br>
    <a class="btn btn-primary" href="{{url}}">{{linkDisplay}}</a>
  </div>
</div>
