<!-- Header (will appear on every page) -->
<header class="header">
    <div class="container-fluid px-3">
        {{!-- navbar --}}
        <!-- Nav (will eventually have logic to render differently depending on when the user is logged in) -->
        <nav class="navbar navbar-expand-lg custom-nav">
            <a class="navbar-brand text-white" href="#"><i class="fas fa-feather-alt fa-lg"></i></a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle custom-nav-link" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Browse
                        </a>
                        <div class="dropdown-menu custom-nav-dropdown" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">View All Stories</a>
                            <a class="dropdown-item" href="#">View Story Flow</a>
                            <div class="dropdown-divider"></div>

                        </div>
                    </li>
                    <li class="nav-item">
                        <form class="nav-link">
                            <input type="text" placeholder="Search...">
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/logout" class="custom-nav-link">Logout</a></li>
                </ul>
            </div>
        </nav>

    </div>
</header>
{{!-- story tags --}}
<section class="neutral">
    <div class="container py-3">
        <div class="row">
            <div class="col-12 d-flex flex-column">
                <h3 class="pb-2">Story Edit Page</h3>
                <form>
                    <div class="form-group">
                        {{!-- story title --}}
                        <input type="title" class="form-control form-control-lg" id="storyTitle" aria-describedby="titleHelp"
                            placeholder="Story Title" value="{{story.title}}">
                        <small id="titleHelp" class="form-text text-muted">Your title should be unique among your
                            stories, but don't worry about getting the perfect title right now. You can edit it at any time.</small>
                    </div>
                    <div class="form row">
                        {{!-- warnings check list --}}
                        <div class="form-group col-sm-6 col-md-4">
                            <div class="btn-group-vertical btn-group-toggle w-100" data-toggle="buttons" role="group" aria-label="content warnings buttons">
                                {{>content/storysettings/warningbuttons}}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <p>
                                If your story qualifies for an R rating, please use these warnings (the yellow buttons) to restrict access and prepare your readers. <br><br>
                                Choose Not To Warn: If you want to warn appropriately, but don't want to give away too much of your plot, you can use this button to let readers know that at least one of the other warnings is relevant. <br><br>
                                Character Death: Like writing in the second person, killing off the main character on multiple story paths is a tradional part of choose your own adventure novels, even in those intended for children. Therefore Character Death is not age restricted. If the death is graphically described, however we encourage you to also use the Violence/Gore warning.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            <textarea class="form-control" id="chosenTags" type="text" placeholder="Your chosen tags will appear here"
                                value="" readonly></textarea>
                            <div class="form row">
                                <div class="form-group col-md-5 mt-3">
                                    <input type="text" class="form-control" id="tagSearch" placeholder="Search for tags..">
                                    <p class="mt-3">
                                        Scroll through the list and select all relevant tags. You can use the searchbar above to filter the list. If you don't find what you are looking for, you can create your own tag.
                                    </p>
                                </div>
                                <div class="form-group col-md-7 mt-3">
                                    {{> content/storysettings/tagslist}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- buttons for saving, overall settings and navigating to page views --}}
                    {{>content/storysettings/storybuttons}}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="doneByDefault">
                        <label class="form-check-label" for="doneByDefault">When checked, pages in this story will automatically be marked as finished when you press the save button.</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{!-- MODALS --}}
    {{!-- modal for tag creation --}}
    <div class="modal fade" id="createTagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a brand new tag!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="newTagInput" aria-describedby="tagHelp"
                                placeholder="Enter your tag">
                            <small id="tagHelp" class="form-text text-muted">Tags must be unique. Tags should be genres and general themes, like comedy or horror.</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="saveTag">Save Tag</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer containing credits (will eventually be on every page) -->
<footer>
    <div class="container">
        <div class="row pt-3">
            <div class="col-12 col-md-4 mr-auto">
                <aside>
                    <h5>About Us</h5>
                    <ul class="list-unstyled">
                        <li>
                            Jover Lee
                        </li>
                        <li>
                            Theresa Bankman
                        </li>
                        <li>
                            Tassa Tenhouse
                        </li>
                    </ul>
                </aside>
            </div>

            <div class="col-12 col-md-4 ml-auto">
                <aside>
                    <h5>Credits</h5>
                    <ul class="list-unstyled">
                        <li>
                            Background images by Pexels
                        </li>
                        <li>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
                            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is
                            licensed by <a class="text-success" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                                target="_blank">CC 3.0 BY</a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script>
    function filterTags() {
        // VARIABLES
        var input = document.getElementById("tagSearch");
        var filter = input.value.toUpperCase();
        var ul = document.getElementById("tagList");
        var li = ul.getElementsByTagName("li");

        // Loop through list items (except button at end), 
        // and hide those that don't match the search query
        for (i = 0; i < li.length - 1; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    // Call filterTags function when anything is typed in the tag searchbar
    $(document).on("keyup", "#tagSearch", filterTags);

    // Declare tags array variable for sorting purposes.
    var tagsArr = [];
    // Display checked tags in chosen tags field.
    $(document).on("click", ".tag", function () {
        var tag = $(this).data("tag-name");
        var retVal = "";
        // if tag is checked
        if ($(this).prop("checked") === true) {
            tagsArr.push(tag);
            tagsArr.sort();
            retVal = tagsArr.join(", ");
        }
        // if tag is not checked
        else if ($(this).prop("checked") === false) {
            for (i = 0; i < tagsArr.length; i++) {
                if (tagsArr[i] === tag) {
                    tagsArr.splice(i, 1);
                    retVal = tagsArr.join(", ");
                }
            }
        }
        // Populate to chosen tags field
        $("#chosenTags").val(retVal);
    });
    // Populate searchbar input to input field on tag creation modal
    $(document).on("click", "#tagModalButton", function () {
        $("#newTagInput").val($("#tagSearch").val());
    });
    // Populate modal input field value back to searchbar on save, 
    // and call filter function again
    $(document).on("click", "#saveTag", function () {
        $("#tagSearch").val($("#newTagInput").val())
        filterTags();
    });
</script>