<div class="col-12 col-md-4 mr-auto">
    <aside>
        <h5>About Us</h5>
        <ul class="list-unstyled">
            <li>
                Jover Lee
            </li>
            <li>
                Theresa Benkman
            </li>
            <li>
                Tassa Tenhouse
            </li>
        </ul>
    </aside>
</div>