<div class="container my-5">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-12">
                    <h2>{{dbStory.title}}</h2>
                    <h3>By: {{author.displayName}}</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p>{{page.content}}</p>
        </div>
        <div class="card-footer">
            {{#if page.isEnding}}
                {{> subcontent/readstory/endPageButtons}}
            {{/if}}
            {{#if page.isTBC}}
                {{> subcontent/readstory/tbcPageButtons}}
            {{/if}}
            {{#unless page.isEnding}}
            {{#unless page.isTBC}}
                {{#each links}}
                    {{> subcontent/readstory/pageLinks}}
                {{/each}}
            {{/unless}}
            {{/unless}}
        </div>
    </div>
</div>