{{!-- Note: in the future, this is where we'll add in options for the reader to subscribe to updates :) --}}
<div class="row">
    <div class="col text-center">
        <h3>To be continued...</h3>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <a href="/story/read/{{dbStory.id}}" class="btn btn-success">Restart Story</a>
    </div>
</div>