<a class="navbar-brand text-white" href="/"><i class="fas fa-feather-alt fa-lg"></i></a>
<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle custom-nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browse
            </a>
            <div class="dropdown-menu custom-nav-dropdown" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/authors">By Author</a>
                <a class="dropdown-item" href="/tags">By Tags</a>
                <a class="dropdown-item" href="/stories">By Title</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/login" class="custom-nav-link">Log In</a></li>
    </ul>
</div>