{{!-- Successfully updated username modal --}}
<div class="modal fade" tabindex="-1" role="dialog" id="updateUsernameModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Username Updated!</h5>
      </div>
      <div class="modal-body text-center">
        <p>Your username has been successfully changed! </p>
        <p>New username: <strong><span id="newUsername"></span></strong></p>
      </div>
      <div class="modal-footer">
        <a href="/" class="btn btn-success">Go to My Dashboard</a>
      </div>
    </div>
  </div>
</div>