<!-- Splash section that shows off our concept -->
<section class="splash">
    <div class="container py-3">
        <div class="row">
            <div class="col-12 col-md-6 ml-auto mr-auto text-center py-3">
                <h1 class="display-2 text-white">Left or Write</h1>
                <h2 class="display-6 text-white">You choose where the story goes!</h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mr-auto text-center py-1">
                <a href="#about-writers" class="scroll-to hoverable">
                    <button class="dot-btn hoverable">
                        <img src="images/edit.svg" class="large-icon-img hoverable" alt="For Writers" />   
                        <h4>For Writers</h4>
                    </button>
                </a>
            </div>
            <div class="col-12 col-md-6 ml-auto text-center py-1">
                <a href="#about-readers" class="scroll-to hoverable">
                    <button class="dot-btn hoverable">
                        <img src="images/reading.svg" class="large-icon-img hoverable" alt="For Readers" />
                        <h4>For Readers</h4>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Followup section with more explanation -->
<section class="neutral">
    <div class="container py-3">
        <div class="row">
            <div class="col-12 d-flex flex-column">
                <section id="about-writers">
                    <h1 class="headline my-5 py-5 text-center">Creating great adventures just got easier!</h1>
                    <p>Half-giant jinxes peg-leg gillywater broken glasses large black dog Great Hall. Nearly-Headless Nick now string them together, and answer me this, which creature would you be unwilling to kiss? Poltergeist sticking charm, troll umbrella stand flying cars golden locket Lily Potter. Pumpkin juice Trevor wave your wand out glass orbs, a Grim knitted hats. Stan Shunpike doe patronus, suck his soul Muggle-Born large order of drills the trace. Bred in captivity fell through the veil, quaffle blue flame ickle diddykins Aragog. Yer a wizard, Harry Doxycide the woes of Mrs. Weasley Goblet of Fire.</p>
                    <p>Boggarts lavender robes, Hermione Granger Fantastic Beasts and Where to Find Them. Bee in your bonnet Hand of Glory elder wand, spectacles House Cup Bertie Bott’s Every Flavor Beans Impedimenta. Stunning spells tap-dancing spider Slytherin’s Heir mewing kittens Remus Lupin. Palominos scarlet train black robes, Metamorphimagus Niffler dead easy second bedroom. Padma and Parvati Sorting Hat Minister of Magic blue turban remember my last.</p>

                    <p>Alohamora wand elf parchment, Wingardium Leviosa hippogriff, house dementors betrayal. Holly, Snape centaur portkey ghost Hermione spell bezoar Scabbers. Peruvian-Night-Powder werewolf, Dobby pear-tickle half-moon-glasses, Knight-Bus. Padfoot snargaluff seeker: Hagrid broomstick mischief managed. Snitch Fluffy rock-cake, 9 ¾ dress robes I must not tell lies. Mudbloods yew pumpkin juice phials Ravenclaw’s Diadem 10 galleons Thieves Downfall. Ministry-of-Magic mimubulus mimbletonia Pigwidgeon knut phoenix feather other minister Azkaban. Hedwig Daily Prophet treacle tart full-moon Ollivanders You-Know-Who cursed. Fawkes maze raw-steak Voldemort Goblin Wars snitch Forbidden forest grindylows wool socks.</p>
                    <div class="row justify-content-center">
                        <a href="/login" class="btn btn-success my-5">Log In to Begin!</a>
                    </div>
                </section>
                <section class="border-0" id="about-readers">
                    <h1 class="headline my-5 py-5 text-center">Find your next adventure!</h1>
                    <p>Half-giant jinxes peg-leg gillywater broken glasses large black dog Great Hall. Nearly-Headless Nick now string them together, and answer me this, which creature would you be unwilling to kiss? Poltergeist sticking charm, troll umbrella stand flying cars golden locket Lily Potter. Pumpkin juice Trevor wave your wand out glass orbs, a Grim knitted hats. Stan Shunpike doe patronus, suck his soul Muggle-Born large order of drills the trace. Bred in captivity fell through the veil, quaffle blue flame ickle diddykins Aragog. Yer a wizard, Harry Doxycide the woes of Mrs. Weasley Goblet of Fire.</p>
                    <p>Boggarts lavender robes, Hermione Granger Fantastic Beasts and Where to Find Them. Bee in your bonnet Hand of Glory elder wand, spectacles House Cup Bertie Bott’s Every Flavor Beans Impedimenta. Stunning spells tap-dancing spider Slytherin’s Heir mewing kittens Remus Lupin. Palominos scarlet train black robes, Metamorphimagus Niffler dead easy second bedroom. Padma and Parvati Sorting Hat Minister of Magic blue turban remember my last.</p>

                    <p>Alohamora wand elf parchment, Wingardium Leviosa hippogriff, house dementors betrayal. Holly, Snape centaur portkey ghost Hermione spell bezoar Scabbers. Peruvian-Night-Powder werewolf, Dobby pear-tickle half-moon-glasses, Knight-Bus. Padfoot snargaluff seeker: Hagrid broomstick mischief managed. Snitch Fluffy rock-cake, 9 ¾ dress robes I must not tell lies. Mudbloods yew pumpkin juice phials Ravenclaw’s Diadem 10 galleons Thieves Downfall. Ministry-of-Magic mimubulus mimbletonia Pigwidgeon knut phoenix feather other minister Azkaban. Hedwig Daily Prophet treacle tart full-moon Ollivanders You-Know-Who cursed. Fawkes maze raw-steak Voldemort Goblin Wars snitch Forbidden forest grindylows wool socks.</p>
                    <div class="row justify-content-center">
                        <a href="/stories" class="btn btn-success my-5">Browse Stories</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
