<!-- Splash section that shows off our concept -->
<section class="for-newbies">
    <div class="container py-3">
        <div class="row">
            <div class="col-12 col-md-6 ml-auto mr-auto text-center py-3">
                <h1 class="display-2 text-white">Left or Write</h1>
                <h2 class="display-6 text-white">You choose where the story goes!</h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mr-auto text-center py-2">
                <a href="#about-writers" class="scroll-to hoverable">
                    <button class="dot-btn hoverable">
                        <img src="images/edit.svg" class="large-icon-img hoverable" alt="For Writers" />
                        <h4>For Writers</h4>
                    </button>
                </a>
            </div>
            <div class="col-12 col-md-6 ml-auto text-center py-2">
                <a href="#about-readers" class="scroll-to hoverable">
                    <button class="dot-btn hoverable">
                        <img src="images/reading.svg" class="large-icon-img hoverable" alt="For Readers" />
                        <h4>For Readers</h4>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Followup section with more explanation -->
<section class="splash neutral">
    <div class="container py-3" id="about-readers">
        <div class="row">
            <div class="col-12">
                <h1 class="headline py-3 text-center">Choose your own path!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="img-fluid" src="/images/choose-path.jpg">
            </div>
            <div class="col-12 col-md-6 ml-auto mr-auto">
                <p>Have you ever wished your favorite story had a different ending? Yelled at the screen while the heroes run up the stairs toward the monster? With <em>interactive fiction</em>, you pick where the story goes! After each page, you'll be presented with a choice of what to read next. Explore alternate plot lines, alternate endings - and get updates when your favorite plot line continues!</p>
                <p>Choose from one of the many stories already on our site...or <a href="/login">create your own!</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-1 mr-auto ml-auto">
                <a href="/stories" class="btn btn-success my-5">Browse Stories</a>
            </div>
        </div>
    </div>
</section>

<section class="splash for-writers">
    <div class="container mt-5"  id="about-writers">
        <div class="row">
            <div class="col-12 col-med-9 ml-auto mr-auto">
                <div class="card">
                    <div class="card-body">
                        <h1 class="headline my-1 text-center mb-5">Creating great adventures just got easier!</h1>
                        <h5 class="card-title">"Jack and Jill went up the hill..."</h5>
                        <p>But is that all they did? With <em>interactive fiction</em>, you can give your readers
                            choices about what to read next. Alternate plot lines, alternate endings - if you can dream
                            it up, you can capture it with our branching story creator.</p>
                        <div class="row">
                            <div class="col-12 col-md-1 mr-auto ml-auto">
                                <a href="/login" class="btn btn-success">Try it now!</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>