<div class="row">
    <div class="col text-center">
        <h3>THE END!</h3>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <a href="/story/read/{{dbStory.id}}" class="btn btn-success">Restart Story</a>
    </div>
</div>