{{#each storybuttons}}
    <a href="#" class="btn btn-success text-white mb-2">{{text}}</a>
{{/each}}
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="doneByDefault">
    <label class="form-check-label" for="doneByDefault">When checked, pages in this story will automatically be marked as finished when you press the save button.</label>
</div>