{{#each storybuttons}}
    <button class="btn custom-primary-btn text-white mb-2 mr-2" id="{{id}}">{{text}}</button>
{{/each}}
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="doneByDefault">
    <label class="form-check-label" for="doneByDefault">When checked, pages in this story will automatically be marked as finished when you press the save button.</label>
</div>