{{!-- for some reason, each isn't working with this at all. Switching to hard coded for demo purposes --}}
{{!-- <div class="form-group form-check">
    {{#each c}}
        <input type="checkbox" class="form-check-input" id="bob">
        <label class="form-check-label" for="bob">Something here</label>
    {{/each}}
</div> --}}

</div>
{{#each storybuttons}}
    <button class="btn custom-primary-btn text-white mb-2 mr-2" id="{{id}}">{{text}}</button>
{{/each}}