<div class="row">
    {{#each retObj.storybuttons}}
        <div class="mb-2 col-12 col-md-3">
            <button class="btn custom-primary-btn text-white w-100" id="{{id}}">{{text}}</button>
        </div>
    {{/each}}
</div>