/* Body background color (default) */
body {
  background-color: #E7E5DF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Make our footer sticky! */
.spacer {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

/* Link colors */
a {
  color: #36723f;
}

a:hover {
  text-decoration: none;
}

/* Custom nav pills and buttons */
.custom-nav-pills .nav-item a:hover, .custom-nav-pills .nav-item .active {
  background-color: #798478;
  color: white;
}

.custom-primary-btn {
  background-color: #36723f;
  color: white;
}

/* Header and nav colors */
.header {
  background-color: #36723f;
}

.custom-nav { 
  color: #272727;
}

.custom-nav-link {
  color: white;
}

.custom-nav-link:hover {
  color: white;
}

.custom-toggler {
  color: white;
  border: 1px solid white;
}

/* Classes defining the sections on our main page */
.hoverable:hover {
  cursor: pointer;
}

/* Separate each section with a border */
section {
  border-bottom: 5px solid #44BBA4;
}

/* Implement a splash image for the main section */
.splash {
  background-image: url('../images/open-notebook-xs.jpg');
  background-size: cover;
  min-height: 90vh;
}

/* Provide a neutral background for other sections */
.neutral {
  background-color: #E7E5DF;
  min-height: 60vh;
}

/* Icons for the main page */
.large-icon-img {
  width: 100px;
  height: auto;
}

.dot-btn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  border: none;
}


/* Footer colors */
footer {
  background-color: #272727;
  color: white;
}

#tagList {
  max-height: 16em;
  overflow-y: scroll;
}

/* Media query changes for when our screen grows above a mobile size */
@media only screen and (min-width: 760px) {
  .splash { 
    background-image: url('../images/open-notebook-med.jpeg');
  }

  .headline {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

/* Dashboard Classes */

.custom-card {
  max-width: 10rem;
}

.custom-card:hover {
  cursor: pointer;
}

.story-img {
  height: 100px;
  width: auto;
}

.custom-btn {
  border-radius: 12px;
}

/* CSS for page icons */
/* Default page is a rectangle */

/* First page is a half moon (round part facing top) */

/* Ending is a half moon (round part facing bottom) */

/* TBC is a star */

/* Log In Page */
#login-page {
  background-image: url("../images/login.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* New User Page */

.newUserPage {
  background-image: url("../images/new-user.jpeg");
  background-size: cover;
  height: 100vh;
}

/* Tag Page Classes */
.tag-stories {
  max-width: 15rem;
}