<div class="row">
    <div class="col-12 col-md-10">
        <h3>{{header}}</h3>
    </div>
    <div class="col-12 col-md-2 py-2">
        <button class="btn custom-primary-btn"><a class="text-white" href="/story/write/{{storyid}}/pages/">Add a Page</a></button>
    </div>
</div>