<div class="row">
    <div class="col-12 col-md-10 col-xl-11">
        <h3>{{header}}</h3>
    </div>
    <div class="col-12 col-md-2 col-xl-1 py-2">
        <a class="btn custom-alert-btn publish-btn" href="#">Publish</a>
    </div>
</div>